.for(@i, @n) {
	.-each(@i)
}

.for(@n) when (isnumber(@n)) {
	.for(1, @n)
}

.for(@i, @n) when not (@i = @n) {
	.for((@i + (@n - @i) / abs(@n - @i)), @n);
}

.for(@array) when (default()) {
	.for-impl_(length(@array))
}

.for-impl_(@i) when (@i > 1) {
	.for-impl_((@i - 1))
}

.for-impl_(@i) when (@i > 0) {
	.-each(extract(@array, @i))
}

.font-face(@path:''; @fontName: sans-serif; @fontWeight: normal; @fontStyle: normal) {
	@font-face {
		font-family: @fontName;
		src: url('@{path}@{fontName}.eot');
		src: url('@{path}@{fontName}.eot?#iefix') format('embedded-opentype'),
		url('@{path}@{fontName}.woff') format('woff'),
		url('@{path}@{fontName}.ttf') format('truetype'),
		url('@{path}@{fontName}.svg#@{fontName}') format('svg');
		font-weight: @fontWeight;
		font-style: @fontStyle;
	}
}

.loadImage(@name, @path) {
	background-image: url('@{path}/@{name}');
}

.font-face-modern(@path:''; @fontName: sans-serif; @fontWeight: normal; @fontStyle: normal) {
	@font-face {
		font-family: @fontName;
		font-weight: @fontWeight;
		font-style: @fontStyle;
		font-display: swap;
		src: url('@{path}@{fontName}.woff') format('woff'),
		url('@{path}@{fontName}.woff2') format('woff2');
	}
}
