html, body {
  &:extend(.full-height);
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

body {
  &:extend(.auto-overflow);
}

body, ul, li, ol, dl, dt, dd, p, iframe, form, div, h1, h2, h3, h4, h5, h6, label, a, fieldset, textarea, img, span, input, button, pre, code, article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, dialog, address, q, details, summary, menu {
  .reset-all;
}

ul {
  list-style: none;
}

textarea, input, input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  &:extend(.reset-webkit-tap, .no-border-radius);
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: 0 none;
  }
}

select {
  &:extend(.float-auto-left);
  width: 99.99% !important;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent !important;
  color: rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 black;
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
  text-transform: none;
}

input:focus::-webkit-input-placeholder, input:focus::-moz-placeholder, input:focus:-ms-input-placeholder {
  color: transparent;
}

button {
  &:extend(.reset-webkit-tap, .enable-pointer);
  line-height: normal !important;

  &:focus, &:active {
    outline: 0;
  }
}

button::-moz-focus-inner, input::-moz-focus-inner {
  &:extend(.no-border, .no-padding);
  margin-top: 0;
  margin-bottom: 0;
}

table, h1, h2, h3, h4, h5, h6, p, small, address, q, iframe, pre {
  &:extend(.float-left-full);
}

table {
  border-collapse: collapse;

  th, td {
    &:extend(.align-center);
    vertical-align: middle;
  }
}

@native-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
h1, h2, h3, h4, h5, h6, p, address, q {
  &:extend(.align-left);
  font-weight: normal;
}

small {
  font-size: 85%;
}

a {
  &:extend(.default-transition);
}

a, a:hover, a:focus {
  &:extend(.reset-webkit-tap);
  text-decoration: none;
  outline: none;
}

img:not([src]) {
  visibility: hidden;
}

@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

dialog:not([open]) {
  &:extend(.block);
}

[v-cloak] {
  &:extend(.hide);
}

::selection {
  background: rgba(0, 0, 0, 0.2);
}
